{% extends 'base.html.twig' %}

{% block title %}New Formation{% endblock %}

{% block body %}
    <h1>Créer une nouvelle formation</h1>

    {{ include('formation/_form.html.twig') }}



<a href="{{ path('home') }}">
	<button class="btn btn-primary">{{ button_label|default('Retour') }}</button>
</a>
<a href="{{ path('formation_index') }}">
	<button class="btn btn-info">{{ button_label|default('Toutes les formations') }}</button>
</a>


{% endblock %}
