{% extends 'base.html.twig' %}

{% block title %}Formation
{% endblock %}

{% block body %}
	<h1>Formation</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ formation.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ formation.nom }}</td>
			</tr>
			<tr>
				<th>Nombre_jours</th>
				<td>{{ formation.nombreJours }}</td>
			</tr>
			<tr>
				<th>Date_debut</th>
				<td>{{ formation.dateDebut ? formation.dateDebut|date('Y-m-d') : '' }}</td>
			</tr>
		</tbody>
	</table>

	{% if is_granted('ROLE_FORMATEUR') %}
		{{ include('formation/_delete_form.html.twig') }}
		<a href="{{ path('formation_index') }}">
			<button class="btn btn-info">{{ button_label|default('Toutes les formations') }}</button>
		</a>

	{% endif %}

	<a href="{{ path('home') }}">
		<button class="btn btn-primary">{{ button_label|default('Retour') }}</button>
        
	</a>


{% endblock %}
